.cardCont3{
    position: relative;
    margin-top: 50px;
}

.class2{
    position: relative;
    top:-23px;
    margin-left: 100px;
}

.div1{
    position: relative;
    top: -23px;
}

.img2{
    border-radius: 20px;
}