.cardCont4{
    position: relative;
    margin-top: 50px;
}



.cardCont4 .price2{
    text-decoration: line-through;
    color: #646262;
    position: relative;
    top: -45px;
    margin-left: 45px;


}

.cardCont4 p{
        position: relative;
        top:-23px;
        margin-left: 100px;
}

.cardCont4 .pr{
    
        position: relative;
        top: -23px;
    
}

.clas{
    position: relative;
    background-color: #eedddd;
    height: 25px;
    width: 55px;
    margin-left: 97px;
    top: -68px;
    border-radius: 20px;
}

.cardCont4 h5{
    position: relative;
    top: 4px;
    margin-left: 9px;
    color: rgb(245, 78, 78);
}

.img3{
    border-radius: 20px;
}



/* .cardCont4 h1{
    font-family: 'Integral CF Regular';
    font-size: 48px;
    position: relative;
    margin-left: -500px;
    margin-top: 70px;
} */